body
{
    background-color:rgb(220, 193, 244);
}
p
{
    color: black;
    font-size:40px;
    text-align: center;
    padding: 1em; 
    border-style: dashed;
    border-color: white;
    font-family: 'Lobster Two', cursive;
    }
a
{ 
    font-size: 24px;
}

